<div class="laptop">
  <div class="sticker">
    <div class="stickerContainer">
      <div class="stickerHeader">
        <h2>SCAN ME</h2>
        <img id=logoCTG src="../assets/IMG_0714.PNG" alt="logo">
      </div>
      <ngx-qrcode (click)="generateQrCode()" qrc-element-type="url" [qrc-value]="ngxQrcode2"></ngx-qrcode>
      <p id="qrRandomCode">{{ randomCode }}</p>
      <p>If your QR code doesnt work please give us the id number of your computer</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
